name: Build icon pack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Run generate.py
      run: |
        python generate.py
    - name: Update release
      uses: ncipollo/release-action@v1
      with:
          artifacts: "dist/*.tar.gz"
          bodyFile: "RELEASE.md"
          commit: "main"
          tag: "latest"
          allowUpdates: true
          makeLatest: true
